body {
    background-color: #f2f2f2;
    margin: auto;
    padding-top: 5px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#close {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

#container {
    background-color: white;
    margin: auto;
    width: 80%;
    border: solid 1px gainsboro;
    text-align: center;
    padding: 20px;
    position: relative;
}

#btn {
    display: block;
    margin: auto;
    margin-top: 12px;
}

#countryCode {
    color: #878787;
}

#number {
    color: #878787;
}